In [1]:
#Importamos todas las librerias
import numpy as np
import pandas as pd
import re
import json
import urllib
import requests
from pandas import json_normalize
import os
from dotenv import load_dotenv
load_dotenv()
import src.source as src

In [2]:
#importamos dataframe
ghibli= pd.read_csv('input/studio_ghibli.csv',encoding='latin-1')
ghibli.head(2)

,rt,music,producer_s,screenwriter_s,director,title,year
0,NaN,95%,Joe Hisaishi,Isao Takahata,Hayao Miyazaki,Castle in the Sky,1986 August
1,NaN,97%,Michio Mamiya,TÅru Hara,Isao Takahata,Grave of the Fireflies,1988 April

In [3]:
ghibli=ghibli[['producer_s','screenwriter_s','director','title','year']]

In [4]:
def geturl(path="films/",ids="dc2e6bd1-8156-4886-adff-b39e6043af0c"):
   
    url = f"https://ghibliapi.herokuapp.com/{path}{ids}"
    response = requests.request("GET", url)
    data=response.text
    data1=json.loads(data)
    flat_data=json_normalize(data1)
    
    return flat_data

In [5]:
ghibliapi=src.geturl()
ghibliapi.head(2)

,id,title,description,director,producer,release_date,rt_score,people,species,locations,vehicles,url
0,2baf70d1-42bb-4437-b551-e5fed5a87abe,Castle in the Sky,The orphan Sheeta inherited a mysterious cryst...,Hayao Miyazaki,Isao Takahata,1986,95,[https://ghibliapi.herokuapp.com/people/],[https://ghibliapi.herokuapp.com/species/af391...,[https://ghibliapi.herokuapp.com/locations/],[https://ghibliapi.herokuapp.com/vehicles/],https://ghibliapi.herokuapp.com/films/2baf70d1...
1,12cfb892-aac0-4c5b-94af-521852e46d6a,Grave of the Fireflies,"In the latter part of World War II, a boy and ...",Isao Takahata,Toru Hara,1988,97,[https://ghibliapi.herokuapp.com/people/],[https://ghibliapi.herokuapp.com/species/af391...,[https://ghibliapi.herokuapp.com/locations/],[https://ghibliapi.herokuapp.com/vehicles/],https://ghibliapi.herokuapp.com/films/12cfb892...

In [6]:
sortedghibli=ghibli.sort_values('title')
sortedghibli.head(2)

,producer_s,screenwriter_s,director,title,year
0,Joe Hisaishi,Isao Takahata,Hayao Miyazaki,Castle in the Sky,1986 August
17,85%,Satoshi Takebe,GorÅ Miyazaki,From Up on Poppy Hill,2011 July

In [7]:
sortedghibliapi=ghibliapi.sort_values('title')
sortedghibliapi=sortedghibliapi[['id','title','description','director','producer','release_date','rt_score']]
sortedghibliapi.reset_index().head(2)

,index,id,title,description,director,producer,release_date,rt_score
0,15,2de9426b-914a-4a06-a3a0-5e6d9d3886f6,Arrietty,14-year-old Arrietty and the rest of the Clock...,Hiromasa Yonebayashi,Toshio Suzuki,2010,95
1,0,2baf70d1-42bb-4437-b551-e5fed5a87abe,Castle in the Sky,The orphan Sheeta inherited a mysterious cryst...,Hayao Miyazaki,Isao Takahata,1986,95

-------

In [8]:
sortedghibli.columns

Index(['producer_s', 'screenwriter_s', 'director', 'title', 'year'], dtype='object')

In [9]:
sortedghibliapi.columns

Index(['id', 'title', 'description', 'director', 'producer', 'release_date',
       'rt_score'],
      dtype='object')

In [10]:
sortedghibli=sortedghibli.rename(columns={"producer_s":"producer","screenwriter_s":"screenwriter"})
sortedghibli.head(2)

,producer,screenwriter,director,title,year
0,Joe Hisaishi,Isao Takahata,Hayao Miyazaki,Castle in the Sky,1986 August
17,85%,Satoshi Takebe,GorÅ Miyazaki,From Up on Poppy Hill,2011 July

In [11]:
sortedghibliapi=sortedghibliapi.rename(columns={"release_date":"year","rt_score":"score"})
sortedghibliapi.head(2)

,id,title,description,director,producer,year,score
15,2de9426b-914a-4a06-a3a0-5e6d9d3886f6,Arrietty,14-year-old Arrietty and the rest of the Clock...,Hiromasa Yonebayashi,Toshio Suzuki,2010,95
0,2baf70d1-42bb-4437-b551-e5fed5a87abe,Castle in the Sky,The orphan Sheeta inherited a mysterious cryst...,Hayao Miyazaki,Isao Takahata,1986,95

In [12]:
a=src.merge(sortedghibli,sortedghibliapi,'title','right')

a=a[['id','title','screenwriter','producer_y','director_y','description','year_y','score']]
a=a.rename(columns={"producer_y":"producer","director_y":"director","year_y":"year"})
a.head()

,id,title,screenwriter,producer,director,description,year,score
0,2baf70d1-42bb-4437-b551-e5fed5a87abe,Castle in the Sky,Isao Takahata,Isao Takahata,Hayao Miyazaki,The orphan Sheeta inherited a mysterious cryst...,1986,95
1,45db04e4-304a-4933-9823-33f389e8d74d,From Up on Poppy Hill,Satoshi Takebe,Toshio Suzuki,Gorō Miyazaki,The story is set in 1963 in Yokohama. Kokuriko...,2011,83
2,12cfb892-aac0-4c5b-94af-521852e46d6a,Grave of the Fireflies,TÅru Hara,Toru Hara,Isao Takahata,"In the latter part of World War II, a boy and ...",1988,97
3,cd3d059c-09f4-4ff3-8d63-bc765a5184fa,Howl's Moving Castle,Toshio Suzuki,Toshio Suzuki,Hayao Miyazaki,"When Sophie, a shy young woman, is cursed with...",2004,87
4,ea660b10-85c4-4ae3-8a5f-41cea3648e3e,Kiki's Delivery Service,97%,Hayao Miyazaki,Hayao Miyazaki,"A young witch, on her mandatory year of indepe...",1989,96

In [13]:
a=a.sort_values('year')
a=a.reset_index()
del(a['index'])
a.head(2)

,id,title,screenwriter,producer,director,description,year,score
0,2baf70d1-42bb-4437-b551-e5fed5a87abe,Castle in the Sky,Isao Takahata,Isao Takahata,Hayao Miyazaki,The orphan Sheeta inherited a mysterious cryst...,1986,95
1,58611129-2dbc-4a81-a72f-77ddfc1b1b49,My Neighbor Totoro,NaN,Hayao Miyazaki,Hayao Miyazaki,Two sisters move to the country with their fat...,1988,93

In [14]:

#a.to_csv(r'input/ghibli_clean.csv',index=False,header=True)

In [15]:
a["score"] = pd.to_numeric(a["score"])

In [16]:
scores=a.groupby('director').agg({'score':'mean'})
scores=scores.T
scores

director,Gorō Miyazaki,Hayao Miyazaki,Hiromasa Yonebayashi,Hiroyuki Morita,Isao Takahata,Yoshifumi Kondō
score,62.0,92.777778,93.5,89.0,90.0,91.0

In [17]:
scores.columns
scores['Gorō Miyazaki'].value_counts()

62.0    1
Name: Gorō Miyazaki, dtype: int64

In [18]:
#scores.to_csv(r'input/scores.csv',index=False,header=True)